@{
    ViewBag.Title = "Index";
}

<form method="post" action="/Home/Submit">
    <textarea rows="40" style="width:100% !important" id="htmlcontent" name="htmlcontent"></textarea>
    <br />
    <input type="submit" value="Upload" />
</form>
